* {
    margin: 0;
    padding: 0;
  }

  @media (min-width: 768px) and (max-width: 992px) {
    #enlaces {
      justify-content: center;
    }
  }
  
.clearfix{
      overflow: auto;
  }

.bg-rgb {
    background-color: rgb(48, 53, 58);
}

.bg-dark {
    background-color: rgb(48, 53, 58) !important;
}

.container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.no-padding {
    padding-right: 0;
    padding-left: 0;
  }


#enlaces {
    margin-left: auto;
}

.navbar-nav:first-child {
    margin-right: auto;
}

.imagenFondo {
    /*object-fit: cover;*/
    object-position: center center !important;
    /*width: 100%;
    height: 100%;*/
  }

.card-img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    padding: 2rem;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-img-overlay h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    text-align: right;
}

.card-img-overlay p {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: right;
}

.position-relative {
    position: relative;
}

.position-absolute {
    position: absolute;
}

.top-0 {
    top: 0;
}

.start-0 {
    left: 0;
}

.translate-middle {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.badge {
    font-size: 0.8rem;
}

.container u {
    border-bottom: 2px dotted black;
    text-decoration: none;
}

.container col {
    text-decoration: none;
    color: white;
}

.btn-enviar {
    background-color: rgb(143, 195, 67) !important;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .col {
    flex: 0 0 auto;
    text-align: center;
  }
  
  .nav-link {
    display: block;
    padding: 0.5rem;
    color: white;
  }

  .navbar-nav a.nav-link {
    font-size: 1.2rem;
  }

  .bg-primary {
    background-color: rgb(30,79,109) !important;
}

.card-text-container {
    padding-right: 10%;
  }
  
  .card-text {
    margin-bottom: 1em;
  }